@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-box {
		@apply block px-2 py-1 mb-2 border-2 border-gray-300 border-solid rounded-md outline-none w-72 sm:w-96;
	}

	.form-label {
		@apply mb-1 text-gray-500;
		font-weight: 500;
	}

	.form-btn {
		@apply flex justify-center w-full px-1 py-2 mt-6 text-lg text-center text-white bg-teal-600 rounded-lg outline-none disabled:opacity-30;
	}

	.btn-spinner {
		@apply w-8 h-8 border-4 border-t-4 border-gray-100 border-solid rounded-full animate-spin;
		border-top-color: #71717a;
	}

	.navbar-link {
		@apply px-4 py-2 mr-5 transition-colors duration-200 rounded-lg outline-none cursor-pointer hover:text-teal-500 hover:bg-teal-100;
	}
}
